
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title>Unified Alignment for Agents</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <link rel="icon" type="image/x-icon" href="/assets/static/logo.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#e77500">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="/assets/css/style.css?v=45f0ca61791519786076f617c078c56a89823b60">

    <!-- MathJax -->
    <script
      type="text/javascript"
      async
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"
    >
    </script>

    <!-- OG cards, including feishu, facebook, etc. -->
    <meta name="og:title"   content="Unified Alignment for Agents">
    <meta name="og:image"   content="https://agent-force.github.io/assets/static/preview-card.png">
    <meta name="og:description" content="Towards Unified Alignment Between Agents, Humans, and Environment">
    <meta name="og:url" content="https://agent-force.github.io/unified-alignment-for-agents.html">

    <!-- Twitter cards -->
    <meta name="twitter:title"   content="Unified Alignment for Agents">
    <meta name="twitter:card"    content="summary_large_image">
    <meta name="twitter:image"   content="https://agent-force.github.io/assets/static/preview-card.png">
    <meta name="twitter:description" content="Towards Unified Alignment Between Agents, Humans, and Environment">
  </head>
  <body>
    <header class="page-header" role="banner">
      <font size=6><b>Towards Unified Alignment Between Agents, Humans, and Environment</b></font>

      <!--<div style="margin-top: 1rem">

        <img src="/assets/static/logo.jpg" style="width:4em;vertical-align: middle" alt="Logo"/> <span style="vertical-align: middle"><font size=5>AgentForce Team</font></span><br>
      </div>-->

      <div style="margin-top: 2rem">
        <!-- <span class="author-block">Xiang Yue*<sup style="color:#6fbf73;">†,1</sup>,</span> -->
        <span class="author-block">
          <font size=4><a href="https://minicheshire.github.io/" style="text-decoration: none; color: inherit;">Zonghan Yang<sup>*,1</sup></a></font>,
        </span>
        <span class="author-block">
          <font size=4><a href="https://github.com/xxmlala" style="text-decoration: none; color: inherit;">An Liu<sup>*,1</sup></a></font>,
        </span>
        <span class="author-block">
          <font size=4><a href="https://github.com/BBQGOD" style="text-decoration: none; color: inherit;">Zijun Liu<sup>*,1</sup></a></font>,
        </span>
        <font size=4><span class="author-block">Kaiming Liu<sup>1</sup>,</span></font>
        <font size=4><span class="author-block">Fangzhou Xiong<sup>1</sup>,</span></font>
        <font size=4><span class="author-block">Yile Wang<sup>1</sup>,</span></font>
        <font size=4><span class="author-block">Zeyuan Yang<sup>1</sup>,</span></font><br>
        <font size=4><span class="author-block">Qingyuan Hu<sup>1</sup>,</span></font>
        <font size=4><span class="author-block">Xinrui Chen<sup>1</sup>,</span></font>
        <font size=4><span class="author-block">Zhenhe Zhang<sup>1</sup>,</span></font>
        <font size=4><span class="author-block">Fuwen Luo<sup>1</sup>,</span></font>
        <font size=4><span class="author-block">Zhicheng Guo<sup>1</sup>,</span></font>
        <span class="author-block">
          <font size=4><a href="https://www.lpeng.net/" style="text-decoration: none; color: inherit;">Peng Li<sup>2</sup>,</a></font>
        </span>
        <span class="author-block">
          <font size=4><a href="https://nlp.csai.tsinghua.edu.cn/~ly/" style="text-decoration: none; color: inherit;">Yang Liu<sup>1,2</sup></a></font>
        </span>
      
      </div>
      

      <div style="margin-top: 1rem">
        <font size=4><sup>*</sup> Equal Contribution </font><br>
        <font size=4><sup>1</sup> <a href="https://www.cs.tsinghua.edu.cn/csen/">Department of Computer Science and Technology, Tsinghua University</a></font><br>
        <font size=4><sup>2</sup> <a href="https://air.tsinghua.edu.cn/en/">Institute for AI Industry Research (AIR), Tsinghua University</a></font><br>
      </div>
      
      <a href="https://arxiv.org/abs/2402.07744" class="btn"><b>📝&emsp;Paper</b></a>
      
      <a href="" class="btn"><b>💰&emsp;Code for UA<sup>2</sup> WebShop</b></a>

      <a href="https://github.com/AgentForceTeamOfficial/UA2-Agent" class="btn"><b>💻&emsp;Code for UA<sup>2</sup> Agent</b></a>
      
      <a href="http://49.232.144.86:5000" class="btn"><b>🌐&emsp;Live Site</b></a>
    </header>

    <main id="content" class="main-content" role="main">
      <div style="text-align:center;margin-bottom: 2rem">
          <font size=4> The principles of <b>U</b>nified <b>A</b>lignment for <b>A</b>gents (<b>UA<sup>2</sup></b>) with <i>human intentions</i>, <i>environmental dynamics</i>, and <i>self-constraints</i>: </font>
          <br>
      </div>

      <div style="text-align:center;">
        <img src="assets/static/fig-1.png" width="80%">
      </div>

      <!--<video controls width="100%" autoplay muted loop>
      <source src="assets/static/vid-1.mp4" type="video/mp4">
      </video>-->

      {{ content }}

      <footer class="site-footer">
        <span style="vertical-align: middle"><b>This project is powered by</b></span> <img src="/assets/static/logo.jpg" style="width:3em;vertical-align: middle" alt="Logo"/> <span style="vertical-align: middle"><b>AgentForce Team, affiliated with <a href="https://www.cs.tsinghua.edu.cn/csen/">DCST</a> and <a href="https://air.tsinghua.edu.cn/en/">AIR</a> in Tsinghua University. The environment construction in the proof-of-concept studies is heavily inspired by the original <a href="https://webshop-pnlp.github.io/">WebShop</a> environment.</b></span>
        </span>
      </footer>
    </main>
  </body>
</html>